.wrapper {
  width: 70%;
  margin: 0 auto;
  overflow-x: auto;
}
p {
  text-align: center;
  font-size: 1.5rem;
  color: navy;
}
@media screen and (max-width: 895px) {
  .wrapper {
    width: 100%;
    padding: 0.5rem;
  }
}
